

<div class="row">
  <div class="col-md-6 col-md-offset-1">
<%= image_tag "sales_funnel.png", :size => "548x379" %>
</div>

  <div class="col-md-5 ">
    <br>
    <br>
    <br>
  <h2>Research Phase</h2>
  <h2>Sample Phase</h2>
  <h2>Order Phase</h2>
  <h2>FBO Landed</h2>
</div>