<br>
<br>
<br>

<div class='col-md-3'>
  <ul class="list-group">
  <li class="list-group-item">
    <span class="badge">14</span>
    To-Do Reminders
  </li>
   <li class="list-group-item">
    <span class="badge">22</span>
    Products in Research Phase
  </li>
  <li class="list-group-item">
    <span class="badge">243</span>
    Products in Quote Phase
  </li>
  <li class="list-group-item">
    <span class="badge">16</span>
    Products with Samples Ordered
  </li>
  <li class="list-group-item">
    <span class="badge">16</span>
    Products being Shipped
  </li>
  <li class="list-group-item">
    <span class="badge">143</span>
    Messages
  </li>
</ul>
</div>


<div class='col-md-2 col-md-offset-7'>
<div class="btn-group">
  <button class="btn btn-default btn-lg btn-danger"> Create New Product
  </button>

</div>
</div>