<br>
<br>
<br>

<div class='col-md-3'>
  <ul class="list-group">
  <li class="list-group-item">
    <span class="badge">14</span>
    To-Do Reminders
  </li>
  <li class="list-group-item">
    <span class="badge">143</span>
    Messages
  </li>
</ul>
</div>

<%= image_tag "sales_funnel.png", :size => "548x379" %>

