<div class="landing-jumbo">
  <span>
  </span>
    <div class="action-text col-md-8 col-md-offset-2">
      <h1><strong>Source <u>more products</u> and get to market <u>faster</u> without clogging your email inbox</strong</h1>
      <h2>Project Mangement Software for Sourcing & Trade Teams</h2>
      <br>
      <div class="btn btn-default btn-lg btn-success">
      <%= link_to "Log-In with Google", new_user_registration_path %>
      </div>
    </div>
</div>

<div class="span7 text-center">
  <br>
  <br>
</div>

