<div class="landing-jumbo">
  <span>
  </span>
    <div class="action-text">
      <h1>Project management to help sourcing teams manage more products!</h1>
      <h2>Evaluate opportunities and bring products to market faster</h2>
      <hr>
      <div class="btn btn-default btn-lg">
      <%= link_to "Log-In", new_user_registration_path %> | <%= link_to "Log-In with Google", new_user_registration_path %>
      </div>
    </div>
</div>

<div class="span7 text-center">
  <br>
  <br>
  <br>
  <br>
</div>

