  <div class="row">
  <div class="col-md-4">
  <center><h1><strong>1. Collaborate with your team</strong></h3></center>
  <center>
  </div>
  <div class="col-md-4">
  <center><h1><strong>2. Evaluate Products & Quotes </strong></h3></center>
  <center><h3 class="featurette-heading"><span class="text-muted">Set side by side comparisons and track communications with suppliers</span></h3></center>
  </div>
  <div class="col-md-4">
  <center><h1><strong>3. Track and Mangae Opportunities</strong></h3></center>
  <center><h3 class="featurette-heading"><span class="text-muted">Set follow ups and get reminders when products are getting shipped</span></h3></center>
  </div>
</div>
</div>


