
<%= image_tag "hallway.jpg", :size => "1200x800" %>
<h1 class="featurette-heading"><center>Collaborate, Compare and Manage Sourcing Products Before Ordering</center></h1>
<h2>Know how far along each product is in the decision making process</h2>
<br>

<div class="span7 text-center">
  <br>
    <p>
      <%= link_to "Log-In with Google", new_user_registration_path, class: "btn btn-default btn-lg" %>
    </p>
  <br>
  <br>
  <br>
</div>


  <div class="row">
  <div class="col-md-4">
  <center><h1><strong>Collaborate with your team</strong></h3></center>
  <center>
  </div>
  <div class="col-md-4">
  <center><h1><strong>2. Evaluate Products & Quotes </strong></h3></center>
  <center><h3 class="featurette-heading"><span class="text-muted">Set side by side comparisons and track communications with suppliers</span></h3></center>
  </div>
  <div class="col-md-4">
  <center><h1><strong>3. Track and Mangae Opportunities</strong></h3></center>
  <center><h3 class="featurette-heading"><span class="text-muted">Set follow ups and get reminders when products are getting shipped</span></h3></center>
  </div>
</div>
</div>


