</div>
<%= render 'pages/call_to_action' %>  
<div class="container" >
<div class="row">
  <div class="col-md-6">
  <center><h1>Qualify Products Faster</h3></center>
  <center><h3 class="featurette-heading"><span class="text-muted">Stop managing product sourcing from your inbox. Collaborate with employees and suppliers within the app</span></h3></center>
  </div>
  <div class="col-md-6">
  <center><h1>Reduce Email & Stay on Schedule</h3></center>
  <center><h3 class="featurette-heading"><span class="text-muted">Drive your business forward and dramatically cut down the time it takes to evaluate products</span></h3></center>
  </div>
</div>

<br>
<br>

<div class="container" >
  <center><h1>How SourceFunnel can help you</h1></center>
<div class="row">
  <div class="col-md-2">
  <center><h4>Reason 1</h4></center>
  </div>
  <div class="col-md-2">
  <center><h4>Reason 2</h4></center>
  </div>
  <div class="col-md-2">
  <center><h4>Reason 3</h4></center>
  </div>
  <div class="col-md-2">
  <center><h4>Reason 4</h4></center>
  </div>
  <div class="col-md-2">
  <center><h4>Reason 5</h4></center>
  </div>
  <div class="col-md-2">
  <center><h4>Reason 6</h4></center>
  </div>
</div>

<div class="container" >
  <center><h1>Source More Products Today</h1></center>
  <br>
<div class="btn btn-default btn-lg btn-success">
      <%= link_to "Log-In with Google", new_user_registration_path %>
      </div>
</div>


