</div>
<%= render 'pages/call_to_action' %>  
<div class="container">
<div class="row">
  <div class="col-md-4">
  <center><h1>Qualify Products and Suppliers Faster</h3></center>
  <center><h3 class="featurette-heading"><span class="text-muted">All the information in one place to select products and award suppliers faster</span></h3></center>
  </div>
  <div class="col-md-4">
  <center><h1>Reduce Email</h3></center>
  <center><h3 class="featurette-heading"><span class="text-muted">Stop managing product sourcing from your inbox. Collaborate with employees and suppliers within the app</span></h3></center>
  </div>
  <div class="col-md-4">
  <center><h1>Stay on Schedule and Know What the Next Step Is</h3></center>
  <center><h3 class="featurette-heading"><span class="text-muted">Drive your business forward and dramatically cut down the time it takes to evaluate products</span></h3></center>
  </div>
</div>
</div>


