</div>
<%= render 'pages/call_to_action' %>  
<div class="container" >
<div class="row">
  <div class="col-md-6">
  <center><h1>Qualify Products Faster</h3></center>
  <center><h3 class="featurette-heading"><span class="text-muted">Stop managing product sourcing from your inbox. Collaborate with employees and suppliers within the app</span></h3></center>
  </div>
  <div class="col-md-6">
  <center><h1>Stay on Schedule</h3></center>
  <center><h3 class="featurette-heading"><span class="text-muted">Drive your business forward and dramatically cut down the time it takes to evaluate products</span></h3></center>
  </div>
</div>

<br>
<br>

<div class="container" >
  <div class="row">
  <div class="col-md-8 col-md-offset-2">
  <center><h3><i>"SourceFunnel provides an easy way for us to know where we are in the sourcing process and has dramatically reduced the number of emails around the office."</i></h3></center>
</div>
</div>


