    <div class="row">
        <div class="row step">
            
            <div class="col-md-2  activestep" onclick="javascript: resetActive(event, 0);">
                <span class="fa fa-search fa-3x"></span>
                <p>In Research Phase</p>
            </div>
            <div class="col-md-2" onclick="javascript: resetActive(event, 25);">
                <span class="fa fa-plane fa-3x"></span>
                <p>Samples Ordered</p>
            </div>
            <div class="col-md-2" onclick="javascript: resetActive(event, 50);">
                <span class="fa fa-ship fa-3x"></span>
                <p>Shipment Ordered</p>
            </div>
            <div class="col-md-2" onclick="javascript: resetActive(event, 75);">
                <span class="fa fa-star fa-3x"></span>
                <p>Shipment Arrived</p>
            </div>
            <div id="last" class="col-md-2" onclick="javascript: resetActive(event, 100);">
                <span class="fa fa-dollar fa-3x"></span>
                <p>Posted to Amazon</p>
            </div>
        </div>
    </div>
</div>