<h1>Current Products</h1>

<table class="table table-striped col-md-offset-1">
  <thead>
    <tr>
      <th>Product Name</th>
      <th>Product Category</th>
      <th>Buying Phase</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= link_to 'Edit' , edit_product_path(product) %>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add New Product', new_product_path, class: "btn btn-primary col-md-offset-1" %>
